player-connection-mode=Connect
player-connection-guid=3235788671
player-connection-debug=0
player-connection-project-name=VietnamecSimulator
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.159
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6ab2947404844c8ca4c03729de5d4cf1
